@media (max-width:1262px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:1060px) {
    html {
        font-size: 40%;
    }
}

@media (max-width:880px) {
    html {
        font-size: 35%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 30%;
    }
}

@media (max-width:650px) {
    html {
        font-size: 25%;
    }
}

@media (max-width:562px) {
    html {
        font-size: 30%;
    }

    /*--------------------------------------------------------------HEADER-----------------------------------------*/
    .topo nav ul li a {
        margin: 0;
        font-size: 1.6rem;
    }

    .menu,
    .profile {
        display: none;
    }

    /*-------------------------------------------------------menu hamburguer--------------------------------------*/
    .menu-link {
        font-size: 5rem;
        text-decoration: none;
        color: black;
        display: block;
    }

    .panel {
        z-index: 5;
        display: block;
    }

    .panel ul {
        width: 14.9rem;
        display: flex;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: white;
    }

    .panel ul li {
        margin: 3rem 0rem 2rem 0rem;
    }

    .panel nav ul li a:hover {
        font-weight: bolder;
    }

    .panel ul li figure img {
        width: 6rem;
        border-radius: 50%;
        border: solid 3px var(--amarelo);
    }

    .panel p {
        margin: 1rem;
        text-decoration: underline;
    }

    /*---------------------------------------------------------MAIN----------------------------------------------*/
    main h2 {
        margin-left: 15%;
    }

    .topo,
    .card {
        width: 74%;
    }

    .main-top button {
        margin-right: 15%;
    }

    .card {
        height: 18rem;
    }

    .resisterbook div {
        flex-direction: column;
    }

    .resisterbook form {
        width: 50rem;
        height: 50rem;
        margin-bottom: 10rem;
    }

    #resister-button {
        flex-direction: row;
    }

    #anexar {
        flex-direction: row;
    }

    .resisterbook figure img {
        width: 50rem;
        height: auto;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

 /*---------------------------------------------------------MAIN----------------------------------------------*/
    .main-top {
        flex-direction: column;
    }

    .main-top button {
        margin-right: 0;
    }
 /*---------------------------------------------------------caixa de pesquisa----------------------------------------------*/
    .search-box input {
        display: none;
    }

    .search-box button {
        border-radius: 0.5rem;
    }

    .search-box button img {
        width: 4rem;
    }

    .search-box {
        width: 0.1rem;
    }

/*---------------------------------------------------------seções----------------------------------------------*/
    .card {
        height: 40rem;
        flex-direction: column;
        justify-content: space-between;

    }

    .div-button {
        align-self: flex-end;
        position: relative;
        top: -28rem;
    }

    .myreservations h2 {
        align-self: center
    }

    .resisterbook figure img {
        display: none;
    }
}

@media (max-width:375px) {
    html {
        font-size: 44%;
    }
}

@media(max-width:320px) {
    html {
        font-size: 38%;
    }
}