:root{
    --amarelo: #F5DF4D;
    --laranja:#F5A84D;
    --offwhite:#FBFBFB;
}
*{
    margin:0;
    padding:0;
}

html{
    font-size:62.5%;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
}
body{
    background-color: var(--offwhite);
} 
/*---------------------------------------------------------HEADER--------------------------------------------------------*/
header{
    background-color: var(--amarelo);
    width:100%;
    display: flex;
    justify-content: center;
    border-bottom: black 1px solid;
   
}
.topo{
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0rem 3rem 0rem;
    
}
/*----------------------------------------------------MENU HAMBURGUER---------------------------------------------------*/
.panel ul{
    width: 14.9rem;
    display:flex;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.panel ul li {
    margin: 3rem 0rem 2rem 0rem;
}

.panel nav ul li a:hover{
    font-weight: bolder;
}

.panel ul li figure img{
    width:6rem;
    border-radius: 50%;
    border: solid 3px var(--amarelo);
}

.panel p{
    margin:1rem;
    text-decoration: underline;
}

.menu-link{
    display: none;
}

/*------------------------------------------------------LOGO------------------------------------------------------------*/
.logo{
    font-size:3.8rem;
    font-weight: bolder;
}
/*----------------------------------------------------BARRA DE NAVEGAÇÃO-------------------------------------------------*/
.topo nav ul{
    list-style: none;
    display:flex;
    align-items: center; 
}

.topo nav ul li a{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    margin: 0rem 2rem 0rem 2rem;
    font-size: 1.8rem;
    color:black;
    
}
.topo nav ul li a:hover{
    font-weight: bolder;
}

/*---------------------------------------------------CAIXA DE PESQUISA-----------------------------------------------*/
.search-box{
    border:none;
    border-radius: 0.5rem;
    display:flex;
    width:16.6rem;
    height:auto;
    float:right;
}

.search-box input{
    border:none;
    font-size: 1.8rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    width:14rem;
    height:auto;
    font-family:'Raleway', sans-serif;
}
.search-box input::placeholder{
    font-family:'Raleway', sans-serif;
    opacity:0.5;
}

.search-box button{
    border:none;
    background-color:var(--offwhite);
    border-radius: 0px 5px 5px 0px;
    float:right;

}

.search-box button img{
    float:left;
    width:2.5rem;
    height:auto;
}

.search-box button img:hover{
    opacity:0.4;
}
/*-------------------------------------------------------PERFIL-------------------------------------------------------*/
.profile{
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    
}

.profile a{
    color:black;
}

.profile figure img{
    width:6.4rem;
    border-radius: 5rem;
    margin-right:2rem;
}
/*----------------------------------------------------MAIN----------------------------------------------------------*/

.main-top{
    background-color: var(--amarelo);
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:20rem;
    flex-direction: row-reverse;
}

main h2{
    font-size: 2.5rem;
    margin:11%;
}
/*--------------------------------------------------BOTÃO CADASTRAR LIVRO-------------------------------------------*/
.main-top button{
    width:21.6rem;
    height:5rem;
    font-size:1.8rem;
    border-radius:1rem;
    background-color: var(--laranja);
    border:var(--offwhite) solid 1px;
    margin-right:10%;
    font-family:'Raleway', sans-serif;
}

.main-top button:hover{
    opacity:0.8;
}

.main-top button a{
    font-weight: bold;
    color: var(--offwhite);
    text-decoration: none;
}
.main-top button a:hover{
    color:white;
}

/*----------------------------------------------------SEÇÃO MEUS LIVROS----------------------------------------------*/

.mybooks{
    margin:-4rem 0rem 0rem 0rem;
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

/*-----------------------------------------------------CARDS----------------------------------------------------------*/
.card{
    display:flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
    width: 80%;
    height: 13rem;
    border: solid 1px var(--offwhite);
    box-shadow: rgb(226, 226, 226) 2px 2px 3px 2px;
}

.card div{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin: 0rem 4rem 0rem 4rem;
    flex: 1;
}

.card img{
    width:5rem;
    height:auto;
    border-radius: 2px;
    margin-bottom: 2rem;
}

.card label{
    color:var(--laranja);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.id{
    margin:2rem 0rem 0rem 2rem;
    position: relative;
}

.card p{
    font-size: 2rem;

}
.card button{
    margin-top:1rem;
    border:none;
    background-color: transparent;
}

.card button:hover{
    opacity: 0.8;
}

.card button figure img{
    height:2.4rem;
}

/*-----------------------------------------------SEÇÃO MINHAS RESERVAS-----------------------------------------------*/
.myreservations{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.myreservations h2{
    align-self: flex-start;
    margin-bottom:5rem;
}
/*--------------------------------------------SEÇÃO CADASTRAR LIVRO------------------------------------------------*/
.resisterbook h2{
    margin-bottom: 4rem;
}

.resisterbook p{
    margin:0;
}

.resisterbook div{
    display:flex;
    margin: 0% 10% 0% 10%;
    justify-content: space-between;
    align-items: center;
}

.resisterbook figure img{
    width: 78rem;
    height: 52rem;
}
/*-------------------------------------------------FORMULÁRIO------------------------------------------------------*/
.resisterbook form{
    width:48rem;
    height:48rem;
    background-color: white;
    border-radius:1rem;
    border: solid 1px var(--offwhite);
    box-shadow: rgb(226, 226, 226) 2px 2px 3px 2px;
    display:flex;
    flex-direction: column;
}

.resisterbook form label{
    font-size: 1.8rem;
    color:var(--laranja);
    margin: 4rem 0rem 2rem 6rem;
}

.resisterbook form input{
    border:var(--laranja) 1px solid;
    margin:0rem 6rem 0rem 6rem;
    border-radius: 2px;
    height:2.5rem;
    font-family: 'Raleway',sans-serif;
}

#anexar{
    justify-content: space-between;
}

#anexar label{
    margin:4rem 1rem 4rem 1rem;
    width:16rem;
    padding:0.8rem 0rem 0.7rem 0rem;
    height:2.5rem;
    color:var(--offwhite);
    background-color: var(--laranja);
    cursor: pointer;
    border-radius: 2px;
    text-align:center;
    font-weight: 500;
    font-size: 1.6rem;

}

#anexar input{
    display:none;
}

.resister-button{
    display: flex;
    justify-content: space-between;
}

form .resister-button button{
    width:16rem;
    height:5rem;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 1rem;
    margin-top:6rem;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
}

.btn-resister{
    border:none;
    color:var(--offwhite);
    background-color: var(--amarelo);
}

.btn-resister:hover{
    opacity: 0.8;
    color:white;
    background-color:rgb(237, 224, 43);
}

.btn-resister-cancel{
    background-color: white;
    color:var(--amarelo);
    border:var(--amarelo) solid 1px;
}

.btn-resister-cancel:hover{
    opacity: 0.8;
    color:var(--laranja);
    border: var(--laranja) solid 1px;
}
/*--------------------------------------------------------------FOOTER--------------------------------------------------------*/
footer{
    display:flex;
    background-color: var(--amarelo);
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
}

footer figure{
    align-self:flex-end;
}

footer figure a img{
    width:5rem;
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin:2rem;
    width:100%;
}

footer .contact .social-media{
    margin:2rem;
}

.social-media a img{
    margin: 0rem 2rem 0rem 2rem;
    width:2.5rem;
}

footer .footer-info{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin: 0rem 4rem 2rem 4rem;
    font-size:1.5rem;
    font-weight: normal;
}

/*---------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------*/
@media (max-width:1262px){
    html{
        font-size:50%;
    }
}

@media (max-width:1060px){
    html{
        font-size:40%;
    }
}

@media (max-width:880px){
    html{
        font-size:35%;
    }
}

@media (max-width:768px){
    html{
        font-size:30%;
    }
}

@media (max-width:650px){
    html{
        font-size:25%;
    }
}

@media (max-width:562px){
    html{
        font-size:30%;
    }

    .menu, .profile{
        display:none;
    }

    main h2{
        margin-left: 15%;
    }

    .main-top button{
        margin-right:15%;
    }

    .topo nav ul li a {
        margin:0;
        font-size: 1.6rem;
    }

  

    .topo, .card{
        width: 74%;
    }

    .resisterbook figure img{
        width:50rem;
        height: auto;
    }

    .card{
        height:18rem;
    }

    .resisterbook div{
        flex-direction: column;
    }

    .resisterbook form{
        width:50rem;
        height:50rem;
        margin-bottom: 10rem;
    }

    #resister-button{
        flex-direction: row;
    }

    #anexar{
        flex-direction: row;
    }

    .menu-link{
        font-size: 5rem;
        text-decoration: none;
        color:black;
        display: block;
    }

}








